/***************COLORS*******************/
/*

#d8e3e7;
#51c4d3;
#126e82;
#132c33;


*/


/***************FONTS*******************/

/*

Heading 1
font-family: 'Acme', sans-serif;

Peragraph
font-family: 'Rajdhani', sans-serif;

Other Headings
font-family: 'Signika', sans-serif;
*/
